{{> headers }}
{{> navbar}}
<div class="row">
    <di class="col-8">
        <h1>
            Contactanos
        </h1>
    </di>
    <div class="col-4">
        <img src="/assets/img/node.png" class="img-thumbnail"> 
    </div>
</div>
{{> footer}}
